.sign-up-page {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    height: calc(100vh - 35px);
    font-size: 30px;

    h2 {
        font-size: 45px;
    }

    &-form {
        display: flex;
        flex-direction: column;
        gap: 7px;

        margin-bottom: 35px;
    }
}