<div class="document-card">
    <div class="document-name">{{ document.name }}</div>
    <div class="document-exp-date">Expiration Date: {{ document.expirationDate | date:'dd.MM.yyyy' }}</div>
    <div class="document-card-actions">
        @if (isReadOnly) {
        <span class="material-icons show-icon" (click)="onOpenForm()">visibility</span>
        }
        @else {
        <span class="material-icons edit-icon" (click)="onOpenForm()">edit</span>
        <span class="material-icons delete-icon" (click)="onDelete()">delete</span>
        }
    </div>
</div>